/* Reset CSS com Seletores Universais */

/* Zera margens, preenchimentos e define a caixa de modelagem de borda */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove estilos padrão da lista */
ul,
ol {
    list-style: none;
}

/* Corrige estilos de links */
a {
    text-decoration: none;
    color: inherit;
}


/* Define fonte e tamanho padrão */
body {
    font-family: "Ruda", "Roboto";
    font-size: 16px;
    line-height: 1.5;
    background-color: #94b9ff;
}

/* Remove sublinhado de links quando hover */
a:hover {
    text-decoration: none;
}

/* Reseta margens para todos os elementos de bloco */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
fieldset,
form,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
}

main {
    padding-left: 2%;
    margin-top: 2%;
}

#Config_Midia {
    display: flex;
    margin-top: 2%;
}

h1,
h2,
h3,
p {
    color: #001847;
}

h1 {
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px black;
    font-size: 60px;
}

.camposEntrada {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #e7fcec;
}

#RecebeNomeAluno {
    max-width: 100px;
}

#AlunoExcluido {
    max-width: 100px;
}

.btnEnvio {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    font-family: "Ruda", "Roboto";
    border: 1px solid black;
    background-color: #FFFDE6;
    font-weight: bold;
}

.btnEnvio:hover {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#Tabela {
    margin-top: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
}

table {
    border-collapse: collapse;
    /* Define como as bordas das células da tabela devem ser colapsadas */
    width: 100%;
    /* Define a largura da tabela como 100% da largura do contêiner pai */

}

th,
td {
    border: 1px solid #e7fcec !important;
    background-color: #00184779;
    color: #e7fcec;
    padding: 8px;
    /* Define o preenchimento interno de 8 pixels para todas as células */
    text-align: left;
    /* Alinha o texto das células à esquerda */
}

th {
    background-color: #001847;
    /* Define uma cor de fundo cinza claro para as células do cabeçalho */
    color: #e7fcec;
}

/* Destaca células com a classe "selecao" ao passar o mouse */
.selecao:hover {
    background-color: #d0e1ff; /* Cor de fundo ao passar o mouse */
    cursor: pointer; /* Muda o cursor para a mãozinha */
    color: #001847;
}

/* Estilo para os botões desativados */
.menu-button:disabled {
    background-color: #d3d3d3; /* Cor de fundo cinza */
    color: #7d7d7d; /* Texto cinza claro */
    cursor: not-allowed; /* Cursor indica que está desabilitado */
    filter: grayscale(100%); /* Preto e branco */
    pointer-events: none; /* Remove o ponteiro */
}

/* Estilo para os botões ativados */
.menu-button {
    color: black; /* Texto preto */
    background-color: #FFFDE6; /* Fundo padrão */
    font-weight: bold;
    border: 1px solid black;
}

/* Efeito hover para botões ativados */
.menu-button:hover:enabled {
    color: black;
    font-weight: bold;
    cursor: pointer;
    background-color: #007bff;
}